label {
  display: block;
  margin: 30px auto;
}

label span {
  display: block;
  margin-bottom: 10px;
}

input,
textarea {
  padding: 10px 10px;
  font-size: 1em;
  width: 100%;
  color: #5e5e5e;
  border: 1px solid hsl(0, 0%, 80%);
  border-radius: var(--primary-border-radius);
  box-sizing: border-box;
}

textarea {
  min-height: 150px;
}

.error {
  color: red;
  background: rgb(221, 127, 143);
  border: 1px solid red;
  border-radius: 4px;
  padding: 10px;
  margin: 10px 0;
}
